.cabecera{background-color: lightblue;}

.menu{float: left;
align-content: left;}

.formulario{float: left;}

.sesion{float:right;}

button{width: 100px; height: 40px;}

.label{float: left;
	font-size: 18px;}

.datos{float: left;}

#ve{width: 50px;}

.remuneracion{float: left;}

.modificar{float: left;}

